.products{
    margin: 20px auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #8abd25;
    border-radius: 5px;
}

.card {
    width: 300px;
    height: 500px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    margin: 40px 20px;
    background-color: white;
}

.product-image{
    width: 300px;
    height: 200px;
    display: block;
    object-fit:contain;
}

.product-name{
    text-transform: uppercase;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
}

.product-price{
    margin: 10px 0px;
    padding-bottom: 5px;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    font-weight: 700;
}

.product-add-button{
    font-weight: 700;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    width: 90%;
    height: 40px;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    margin: 15px auto;
}

.product-add-button:hover{
    background-color: #8abd25;
}

.product-add-button:active{
    transform: translateY(2px);
}

.description h4, .description h5{
    display: flex;
    justify-content: center;
} 

.description h5{
    margin-bottom: 10px;
}

.description p{
    display: flex;
    justify-content: center;
}



